.date-clear {
    position: relative;
    float: right;
    left: 8px;
    font-size: inherit;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    height: auto;
}

.mat-datepicker-input {
    width: 85%;
}

.ng5-slider {
    width: 50%;
}